<div class="col-md-9">
  <h1>{{title}}</h1>

  <h3 class="toggle-text">Concept ({{conceptList.length}})
    <span ng-click="toggleConceptShow()" ng-show="!conceptShow" class="glyphicon glyphicon-menu-down"></span>
    <span ng-click="toggleConceptShow()" ng-show="conceptShow" class="glyphicon glyphicon-menu-up"></span>
  </h3>

  <div pve-list items="conceptList" ng-show="conceptShow"></div>

  <h3 class="toggle-text">Vastgesteld ({{vastgesteldList.length}})
    <span ng-click="toggleVastgesteldShow()" ng-show="!vastgesteldShow" class="glyphicon glyphicon-menu-down"></span>
    <span ng-click="toggleVastgesteldShow()" ng-show="vastgesteldShow" class="glyphicon glyphicon-menu-up"></span>
  </h3>

  <div pve-list items="vastgesteldList" ng-show="vastgesteldShow"></div>
</div>

<div class="col-md-3" detail-box></div>
