<div class="col-md-9">
  <h1>{{title}}</h1>

  <h2 class="toggle-text">Concept:
    <span ng-click="toggleConceptShow()" ng-show="!conceptShow" class="glyphicon glyphicon-menu-down"></span>
    <span ng-click="toggleConceptShow()" ng-show="conceptShow" class="glyphicon glyphicon-menu-up"></span>
  </h2>

  <div actueel-concept ng-show="conceptShow"></div>

  <h2 class="toggle-text">Vastgesteld:
    <span ng-click="toggleVastgesteldShow()" ng-show="!vastgesteldShow" class="glyphicon glyphicon-menu-down"></span>
    <span ng-click="toggleVastgesteldShow()" ng-show="vastgesteldShow" class="glyphicon glyphicon-menu-up"></span>
  </h2>

  <div vastgesteld ng-show="vastgesteldShow"></div>
</div>

<div class="col-md-3" detail-box></div>
